//extends
.btn-gral{
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    background-color: $mainColor;
}

.btn-rounded{
    @extend .btn-gral;
    border-radius: 4px;
}

.header-gral{
    height: 30vh;
    background-size: cover;
    background-position: center top;
    background-image: url(../img/headers/header-home.jpg);
}

.header-tienda{
    @extend .header-gral;
    background-image: url(../img/headers/header2.jpg);
}

.container-gral{
    width: 100vw;
    height: auto;
    padding: 20px 50px;
}

.container-gray{
    @extend .container-gral;
    background-color: $secondaryColor;
}

//mixins
@mixin textos($size,$line,$color,$padding,$align){
    font-size: $size;//variables locales
    line-height: $line;//variables locales
    color: $color;//variables locales
    padding: $padding;//variables locales
    font-family: $mainFont; //variable global
    @if $align == center{text-align: center}
    @else if $align == left {text-align: left}
    @else if $align == right{text-align: right}
}



// .text-tienda{
//     @include textos(1.1em, 1.4em, black, 10px, center)
// }

@mixin flex($dire,$justify,$align,$wrap){
    display: flex;
    flex-direction: $dire;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap
}

.box-one{
    @include flex(row, center, flex-end , wrap )
}

.box-two{
    @include flex(column,flex-end,center,nowrap)
}

//maps
$paleta:(
    'uno': #af40f6,
    'dos': #df1ce6,
    'tres':#bb20c1,
    'cuatro':#ecdde9,
    'cinco': #9b9a9b,
    'seis': #292829,
    'siete':#e205bb,
    'ocho':#dfa1d4,
    'nueve':#bd9eb8,
    'diez':#e7cfe3,
    'once': #6e646c,
    'doce': #7f3472,
    'trece':10px 10px 5px 0px rgba(0,0,0,0.75),
);



//math
.box{
	width: $width;
	height: $height + 3vh;
	background-color: grey;
}

// // condicionales 
.icon-lang{
	width: 50px;
	height: 50px;
	background-size:contain;
	background-position:center;
	@if $lang == es {background-image: url(../img/icons/icono-es.jpg)}
	@else if $lang == en {background: url(../img/icons/icono-en.jpg)}
	@else if $lang == fr {background: url(../img/icons/icono-fr.jpg)}
	@else{background: url(../img/icons/icono-any.jpg)};
}

// // bucles
@for $i from 1 through 6{
	.text-#{$i}{
		font-size: .25em *$i;
	}
}

// // bucle evolucionado
@each $icono in facebook, twitter, instagram{
	.#{$icono}-icon{
		background-image:url(../img/icons/#{$icono}.svg);
		width: 30px;
		height: 30px;
		background-size:100%;
		list-style: none;
		margin-right: 6px;
	}
}

